.contactoContainer{
    padding: 30px;
    max-height: 100vh;
    h3{
        color: $colorLetras;
        font-weight: 600;
    }
    .contactos{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 10px;
        .cardContacto{
            background-color: $colorGris;
            height: 150px;
            width: 200px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            margin: 10px;
            i{
                color: $colorPrimario;
                font-size: 40px;
            }
            a{
                color: $colorLetras;
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
                text-decoration: none;
            }
            h4{
                color: $colorLetras;
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
    .form{
        height: 40vh;
        form{
            display: flex;
            flex-direction: column;
            .form-1{
                display: flex;
                width: 100%;
                justify-content: space-between;
                input{
                    margin-bottom: 10px;
                    width: 45%;
                    padding: 10px;
                    border: none;
                    background-color: $colorGris;
                    color: $colorLetras;
                }
                input:focus{
                    transition: 0.3s;
                    outline: 1px solid $colorPrimario;
                    border-radius: 10px;
                }
            }
            .form-2{
                display: flex;
                flex-direction: column;
                textarea{
                    resize: none;
                    height: 150px;
                    padding: 10px;
                    border: none;
                    background-color: $colorGris;
                    margin-bottom: 10px;
                    color: $colorLetras;
                }
                textarea:focus{
                    transition: 0.3s;
                    outline: 1px solid $colorPrimario;
                    border-radius: 10px;
                }
                input{
                    width: auto;
                    padding: 10px;
                    background-color: $colorPrimario;
                    color: $colorGris;
                    border: none;
                    cursor: pointer;
                }
                input:hover{
                    transition: 0.3s;
                    border-radius: 10px;
                }
            }
        }
    }
}