.contactoContainer{
    padding: 30px;
    max-height: 100vh;
    h3{
        color: $colorLetras;
        font-weight: 600;
    }
    .contactos{
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        .cardContacto{
            background-color: $colorGris;
            height: 150px;
            width: 200px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            margin: 10px;
            i{
                color: $colorPrimario;
                font-size: 40px;
            }
            a{
                color: $colorLetras;
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
                text-decoration: none;
            }
            h4{
                color: $colorLetras;
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
}