.inicioContainer{
    color: $colorLetras;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    .info{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        h3{
            font-weight: 200;
            font-size: 13px;
        }
        .info-nombre{
            display: flex;
            font-size: 25px;
            .nadir{
                color: $colorPrimario;
                margin-left: 10px;
            }
        }
        h4{
            font-weight: 300;
        }
        .descarga{
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 10px;
            border: 1px solid $colorPrimario;
            margin-top: 10px;
            cursor: pointer;
            i{
                color: $colorPrimario;
                margin-right: 5px;
            }
            a{
                font-weight: 300;
                text-decoration: none;
                color: $colorPrimario;
            }
        }
        .redes{
            display: flex;
            margin-top: 10px;
            img{
                width: 23px;
            }
            i{
                font-size: 25px;
                color: $colorPrimario;
                margin-right: 5px;
            }
        }
    }
    .img{
        img{
            height: 600px;
        }
    }
}