@import "_fuentes";
@import "_paleta";
@import "_nav";
@import "_inicio";
@import "_habilidades";
@import "_portafolio";
@import "_contactoContainer";
@import "_responsive";
@import "_experienciaContainer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: $colorNegro;
}   

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:7px;
}

body::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $colorPrimario;
    border-radius: 20px;
    border: 2px solid $colorPrimario;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.App{
    display: grid;
    grid-template-columns: 250px auto;
}
